{% extends "uktio/base_generic.html"%}
{% load i18n %}

{%block content%}
    <div class="container">
    <div class="row">
        <p></p>
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                    <th>{%trans 'Name'%}</th>
                    <th>{%trans 'City'%}</th>
                    <th>{%trans 'Address'%}</th>
                    <th>{%trans 'Telephone'%}</th>
                    <th>{%trans 'Region'%}</th>
                    <th>{%trans 'Subordinate'%}</th>
                </thead>
                <p>
                {% if organizations %}
                    {% for i_org in organizations.all %}
                        <tr>
                            <td>{{i_org.name}}</td>
                            <td>{{i_org.city}}</td>
                            <td>{{i_org.address}}</td>
                            <td>{{i_org.telephone}}</td>
                            <td>{{i_org.region.name}}</td>
                            <td>{{i_org.subordinate.name}}</td>
                            <td><a href="/organization/{{i_org.id}}">{% trans 'Change' %}</a></td>
                            <td><a href="/delete_organization/{{i_org.id}}">{% trans 'Delete' %}</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </p>
            </table>
        </div>
        <div class="col-4">
            <form action="/save_organization" method="POST">
                {% csrf_token %}
                <table>
                    {{organization_form}}
                </table>
                <input type="submit" value="{%trans 'Save'%}" />
            </form>
        </div>
    </div>
    </div>
{%endblock%}